# Папки
.idea/
build/
dist/
venv/
venv_clean/
__pycache__/
*.egg-info/

# Файлы
*.pyc
*.log
*.bak
*.tmp
*.db
*.xlsx
*.spec

# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфигурации
.env
*.cfg

# Резервные копии
*.bak
*.old

# Файлы проекта
*.csv
!Zapros1.csv
!Zapros2.csv